:root {
  --page-1-color: #4682b4;
  --page-2-color: #c0392b;
  --page-3-color: #27ae60;
  --page-4-color: #af7ac5;
  --page-5-color: #f1c40f;
  --animate-speed: 1s;
}

/* * {
  box-sizing: border-box;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: white;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

/* page colors */

#page-1 {
  background-color: var(--page-1-color);
}
#page-2 {
  background-color: var(--page-2-color);
}
#page-3 {
  background-color: var(--page-3-color);
}
#page-4 {
  background-color: var(--page-4-color);
}
#page-5 {
  background-color: var(--page-5-color);
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  padding: 0 5rem;
}

.page h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin: 1rem;
}

.page p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #f4f4f4;
  color: #333;
  text-decoration: none;
  border: none;
  margin-top: 1rem;
  font-size: 1.1rem;
  transition: all 0.3s ease-in;
}

.btn:hover,
.btn-dark {
  background-color: #424949;
  color: #f4f4f4;
}
.btn:hover {
  transform: scale(1.1);
}

.btn-dark:hover {
  color: #424949;
  background-color: #f4f4f4;
  transform: scale(1.1);
}
